In [1]:
import numpy as np 

np.__version__

'1.21.5'

In [2]:
import pandas as pd

In [111]:
df = pd.read_csv('data.csv') 
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [7]:
df.Make.describe()

count         11914
unique           48
top       Chevrolet
freq           1123
Name: Make, dtype: object

In [55]:
df['Make'] = df['Make'].str.lower().replace(' ', '_')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,bmw,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,bmw,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,bmw,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,bmw,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,bmw,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [100]:
allMaxPop = df.groupby('Make').Popularity.max()
allMaxPop

Make
3                   3
Acura             204
Alfa Romeo        113
Aston Martin      259
Audi             3105
BMW              3916
Bentley           520
Bugatti           820
Buick             155
Cadillac         1624
Chevrolet        1385
Chrysler         1013
Dodge            1851
FIAT              819
Ferrari          2774
Ford             5657
GMC               549
Genesis            21
HUMMER            130
Honda            2202
Hyundai          1439
Infiniti          190
Kia              1720
Lamborghini      1158
Land Rover        258
Lexus             454
Lincoln            61
Lotus             613
Maserati          238
Maybach            67
Mazda             586
McLaren           416
Mercedes-Benz     617
Mitsubishi        436
Nissan           2009
Oldsmobile         26
Plymouth          535
Pontiac           210
Porsche          1715
Rolls-Royce        86
Saab              376
Scion             105
Spyker              2
Subaru            640
Suzuki            481
Tesla            1391
Toyota           2031
Volkswagen        873
Volvo             870
Name: Popularity, dtype: int64

In [58]:
allMaxPop[['chevrolet', 'volkswagen', 'toyota', 'ford']].sort_values()

Make
volkswagen     873
chevrolet     1385
toyota        2031
ford          5657
Name: Popularity, dtype: int64

In [74]:
audis = df[ df['Make'] == 'audi'].nunique()
audis

Make                   1
Model                 34
Year                  20
Engine Fuel Type       5
Engine HP             40
Engine Cylinders       6
Transmission Type      3
Driven_Wheels          2
Number of Doors        2
Market Category       15
Vehicle Size           3
Vehicle Style          6
highway MPG           23
city mpg              18
Popularity             1
MSRP                 234
dtype: int64

In [112]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [113]:
df['Engine Cylinders'].median()

6.0

In [115]:
mode = df['Engine Cylinders'].mode()
df.fillna(value=mode, inplace=True)

In [116]:
df['Number of Doors'].median()

4.0

In [123]:
lotusCars = df[df['Make'] == 'Lotus']
noDuplicates = lotusCars[['Engine HP', 'Engine Cylinders']].drop_duplicates()

In [125]:
X = noDuplicates.values

In [137]:
XT = X.T

In [138]:
XTX = XT.dot(X)

In [139]:
invXTX = np.linalg.inv(XTX)

In [140]:
y = np.array([1100, 800, 750,850, 1300,1000, 1000,1300, 800])
y

array([1100,  800,  750,  850, 1300, 1000, 1000, 1300,  800])

In [143]:
invXTXmulXT = invXTX.dot(XT)

(2, 9)

In [144]:
w = invXTXmulXT.dot(y)

In [145]:
w

array([  4.59494481, -63.56432501])